<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Suxi's Blog</title>
</head>
   <body>
   <div>
       <h1><a href="/">First Blog</a></h1>
   </div>

   <div>
       <p>publicado:30/03/2020, 01:20</p>
       <h2><a href="">Meu primeiro post</a></h2>
       <p>Quando eu era um jovem, eu comecei a estudar programação para sair da pobreza, estou cansado de trabalhar de uber, mal ter dinheiro para comprar um dogão de 5 reais</p>
   </div>

   <div>
       <p>publicado: 30/03/2020 01:20</p>
       <h2><a href="">Meu segundo post</a></h2>
       <p>Eu estou aqui só fazendo testes mesmo, e também treinando minhas habilidades de html, por mais básicos que são esses exercicios <3</p>
   </div>

</body>
</html>